#membersList{
	position:fixed;
	right:0px;
	overflow:auto;
}

.task-panel-gridster{
	position:relative;
	width:300px;
	margin:20px;
	min-height:250px;
	float:left;
}

.display-none{
	display:none;
}

footer.site-footer{
	position:absolute;
	min-width:100%;
	margin-left:auto;
	margin-right:auto;
	bottom:0;
}

.sub-menu .edit, .sub-menu .remove, #membersList .remove{
	float:right;
	padding: 3px;
	margin:0px;
}

.sub-menu .add{
	float:right;
	color:white;
	margin-top:13px;
	padding:5px;
	z-index:10;	
}

.sidebar-menu .group{
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
	background: transparent;
	color:#fff;
	border:1px solid #3fc2f5;
}

.sidebar-menu .group:hover, .sidebar-menu .group:focus{
	outline: none;
}

.sidebar-menu .group option{
	color:#424a5d;
}

.content-panel:hover{
	cursor: pointer;
}

@font-face {
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  src: local('Rancho'), url(http://fonts.gstatic.com/s/rancho/v6/S-YcqhLwgYWxIA-a7eDp2g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.task{
	max-height: 100%;
	border: none;
	overflow: hidden;
}

.task .task-content{
	word-wrap: break-word;
}

.modalDescription .modal-body{
	word-wrap: break-word;
}

.task .task-content .zoom{
	z-index:10;
	display:none;
	background:#eee;
	width:100%;
	position:absolute;
	min-heigth:100%;
	height:150px;
	bottom:50px;
	left:0px;
	opacity: 0.7;
    filter: alpha(opacity=7);
}

.task .task-content .lupe{
	position:absolute;
	color:#bbb;
	left:40%;
	bottom:40px;
}

.task .task-content h3{
	position: relative;
	text-align: justify;
	max-width: 95%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.task .task-content .responsavel{
	margin-top: 40px;
	min-width: 100%;
}

.task .task-content .responsavel img{
	border:5px solid white;
	float:right;
	position: absolute;
	bottom: 0px;
	z-index: 10;
	margin: 10px;
}

.btn-marcar-feita{
	padding: 0px;
	text-align: center; 
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: absolute;
	z-index: 10;
	left: -15px;
	top: -15px;
}

.btn-marcar-feita i{
	margin-top: 6px;
	margin-left: 2px;
}

.task-por-fazer{
	border: 5px solid #f0763e;
}

.task-por-fazer .valor{
	color:#f0763e;
}

.task-por-fazer .btn-marcar-feita{
	background-color: #f0763e; 
}

.task-por-fazer .btn-marcar-feita i{
	color: #fff;
}

.task-feita{
	border: 5px solid green;
}

.task-feita .valor{
	color:green;
}

.task-feita .btn-marcar-feita{
	background-color: green; 
}

.task-feita .btn-marcar-feita i{
	color: white;
}

.task .task-content .date{
	display:none;
	position:absolute;
	z-index:10;
	bottom:40px;
	right:10px;
	color:#000;
}
.task .task-content .date small{
	color:#000;
}

.task .task-content .valor{
	position:absolute;
	z-index:10;
	bottom:50px;
	left:10px;
	font-size:28px;
}

.task .task-content .options{
	display: none;
	z-index: 3;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	opacity: 0.7;
    filter: alpha(opacity=70);
	background-color: #ccc;
	padding-right:10px;
}

.task .task-content .options .btn{
	float: right;
	padding: 0px;
	font-size: 18px;
	margin: 10px;
	margin-left: 0px;
	z-index: 4;
	opacity: 1;
	color:#000;
    filter: alpha(opacity=100);
}

#addTaskBtn{
	position:fixed;
	color:white;
	z-index: 1000;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 25px;
	left:230px;
	top:80px;
	background-color: #f0763e;
	border: solid 1px #f04a3e !important;
}

#addTaskBtn:hover{
	cursor: pointer;
	background-color: #f0a33e;
	border: solid 1px #f0763e !important;
}

#addTaskBtn i{
	margin-top: 6px;
}

.resize{
	resize:none;
}

.btn-ht{
  color: #fff;
  background-color: #f0763e;
  border-color: #f04a3e;
}

.btn-ht:hover,
.btn-ht:focus,
.btn-ht:active,
.btn-ht.active,
.open > .dropdown-toggle.btn-ht{
  color: #fff;
  background-color: #f0a33e;
  border-color: #f0763e;
}

.task-content .task-title-sp small{
	color:green;
}

i.addMembros{
	float:right;
	color:#fff;
	z-index:10;
	margin-top:13px;
}

i.addMembros:hover{
	color:#fff;
}
